{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}


{% block content %}




<header id="header-wrap">

    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-5 col-xs-12">

                    <ul class="list-inline">
                        <li><i class="lni-phone"></i> +251929295283</li>
                        <li><i class="lni-envelope"></i> <a href="http://preview.uideck.com/cdn-cgi/l/email-protection"
                                class="__cf_email__"
                                data-cfemail="5e2d2b2e2e312c2a1e39333f3732703d3133">support@giyaamarket.com</a></li>
                    </ul>

                </div>
                <div class="col-lg-5 col-md-7 col-xs-12">
                    <div class="roof-social float-right">
                        <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                        <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                        <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                        <a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
                        <a class="google" href="#"><i class="lni-google-plus"></i></a>
                    </div>
                    <div class="header-top-right float-right">
                        <a href="/" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
                        <a href="/" class="header-top-button"><i class="lni-pencil"></i>
                            Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                    aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="{% static 'assets/img/logo1.png' %}" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="/">
                            Home
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Prodact List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Trending Prodact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Contacts
                        </a>
                    </li>
                </ul>
                <div class="post-btn">
                    <a class="btn btn-common" href="/">
                        <i class="lni-pencil-alt"></i> Post an Ad
                    </a>
                </div>


            </div>
        </div>

        <ul class="mobile-menu">
            <li>
                <a class="active" href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/">Prodact List</a>
            </li>
            <li>
                <a href="/">
                    Trending Prodact
                </a>
            </li>
            <li>
                <a href="/">
                    Contact
                </a>
            </li>
            <li>

            <li>
                <div class="post-btn">
                    <a class="btn btn-common" style="color: white;" href="/">
                        <i class="lni-pencil-alt"></i> Register
                    </a>
                </div>
            </li>




        </ul>

    </nav>


    <div id="hero-area">
        <div class="overlay"></div>
        <div class="slick-slider" style=" height: 80px;">
            <div class="slide"><img src="{% static 'assets/img/background/counter-back1.cef0a6252395.jpg' %}"
                    alt="Image 1"></div>
            <div class="slide"><img src="{% static 'assets/img/blog/blog1.jpg' %}" alt="Image 2"></div>
        </div>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-9 col-xs-12 text-center">
                    <div class="contents">
                        <h1 class="head-title">Welcome to The Largest <span>Marketplace</span></h1>
                        <p>Buy and sell everything from used cars to mobile phones and computers, or search for
                            property, jobs and more</p>
                        <div class="search-bar">
                            <div class="search-inner">
                                <form class="search-form">
                                    <div class="form-group">
                                        <input type="text" name="customword" class="form-control"
                                            placeholder="What are you looking for?">
                                    </div>
                                    <button class="btn btn-common" type="button"><i class="lni-search"></i> Search
                                        Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>


<section id="categories">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div id="categories-icon-slider" class="categories-wrapper owl-carousel owl-theme">
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-1.png' %}" alt="">
                                    </div>
                                    <h4>Vehicle</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-2.png' %}" alt="">
                                    </div>
                                    <h4>Furniture</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-3.png' %}" alt="">
                                    </div>
                                    <h4>Laptop</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-4.png' %}" alt="">
                                    </div>
                                    <h4>Electronic</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-6.png' %}" alt="">
                                    </div>
                                    <h4>Cloths</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-1.png' %}" alt="">
                                    </div>
                                    <h4>Bicycle</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-2.png' %}" alt="">
                                    </div>
                                    <h4>Furniture</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/category/img-3.png' %}" alt="">
                                    </div>
                                    <h4>Laptop</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="featured-lis section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
                <h3 class="section-title">Featured Products</h3>
                <div id="new-products" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img class="img-fluid" src="{% static 'assets/img/product/img1.jpg' %}" alt="">
                                <div class="overlay">
                                    <div>
                                        <a class="btn btn-common" href="{% url 'details' %}">View Details</a>
                                    </div>
                                </div>
                                <div class="btn-product bg-sale">
                                    <a href="#">Sale</a>
                                </div>
                                <span class="price">ETB 999.00</span>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'details' %}">Macbook Pro 2020</a></h3>
                                <span>Electronic / Computers</span>
                                <div class="icon">
                                    <span><i class="lni-bookmark"></i></span>
                                    <span><i class="lni-heart"></i></span>
                                </div>
                                <div class="card-text">
                                    <div class="float-left">
                                        <span class="icon-wrap">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star"></i>
                                        </span>
                                        <span class="count-review">
                                            (12 Review)
                                        </span>
                                    </div>
                                    <div class="float-right">
                                        <a class="address" href="#"><i class="lni-map-marker"></i> New York</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img class="img-fluid" src="{% static 'assets/img/product/img2.jpg' %}" alt="">
                                <div class="overlay">
                                    <div>
                                        <a class="btn btn-common" href="{% url 'details' %}">View Details</a>
                                    </div>
                                </div>
                                <span class="price">ETB 26,000,000.00</span>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'details' %}">Nikon Camera</a></h3>
                                <span>Electronic / Camera</span>
                                <div class="icon">
                                    <span><i class="lni-bookmark"></i></span>
                                    <span><i class="lni-heart"></i></span>
                                </div>
                                <div class="card-text">
                                    <div class="float-left">
                                        <span class="icon-wrap">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                        </span>
                                        <span class="count-review">
                                            (2 Review)
                                        </span>
                                    </div>
                                    <div class="float-right">
                                        <a class="address" href="#"><i class="lni-map-marker"></i> California</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img class="img-fluid" src="{% static 'assets/img/product/img3.jpg' %}" alt="">
                                <div class="overlay">
                                    <div>
                                        <a class="btn btn-common" href="{% url 'details' %}">View Details</a>
                                    </div>
                                </div>
                                <div class="btn-product bg-slod">
                                    <a href="#">Sold</a>
                                </div>
                                <span class="price">ETB 799.00</span>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'details' %}">iPhone X Refurbished</a></h3>
                                <span>Electronic / Phones</span>
                                <div class="icon">
                                    <span><i class="lni-bookmark"></i></span>
                                    <span><i class="lni-heart"></i></span>
                                </div>
                                <div class="card-text">
                                    <div class="float-left">
                                        <span class="icon-wrap">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star"></i>
                                        </span>
                                        <span class="count-review">
                                            (8 Review)
                                        </span>
                                    </div>
                                    <div class="float-right">
                                        <a class="address" href="#"><i class="lni-map-marker"></i> New York</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img class="img-fluid" src="{% static 'assets/img/product/img4.jpg' %}" alt="">
                                <div class="overlay">
                                    <div>
                                        <a class="btn btn-common" href="{% url 'details' %}">View Details</a>
                                    </div>
                                </div>
                                <span class="price">ETB 99.00</span>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'details' %}">Baby Toy</a></h3>
                                <span>Sports / Baby Toys</span>
                                <div class="icon">
                                    <span><i class="lni-bookmark"></i></span>
                                    <span><i class="lni-heart"></i></span>
                                </div>
                                <div class="card-text">
                                    <div class="float-left">
                                        <span class="icon-wrap">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star"></i>
                                        </span>
                                        <span class="count-review">
                                            (12 Review)
                                        </span>
                                    </div>
                                    <div class="float-right">
                                        <a class="address" href="#"><i class="lni-map-marker"></i> New York</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img class="img-fluid" src="{% static 'assets/img/product/img5.jpg' %}" alt="">
                                <div class="overlay">
                                    <div>
                                        <a class="btn btn-common" href="{% url 'details' %}">View Details</a>
                                    </div>
                                </div>
                                <span class="price">ETB 99.00</span>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'details' %}">Baby Toy</a></h3>
                                <span>Sports / Baby Toys</span>
                                <div class="icon">
                                    <span><i class="lni-bookmark"></i></span>
                                    <span><i class="lni-heart"></i></span>
                                </div>
                                <div class="card-text">
                                    <div class="float-left">
                                        <span class="icon-wrap">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star"></i>
                                        </span>
                                        <span class="count-review">
                                            (12 Review)
                                        </span>
                                    </div>
                                    <div class="float-right">
                                        <a class="address" href="#"><i class="lni-map-marker"></i> New York</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-item">
                            <div class="carousel-thumb">
                                <img class="img-fluid" src="{% static 'assets/img/product/img6.jpg' %}" alt="">
                                <div class="overlay">
                                    <div>
                                        <a class="btn btn-common" href="{% url 'details' %}">View Details</a>
                                    </div>
                                </div>
                                <div class="btn-product bg-sale">
                                    <a href="#">Sale</a>
                                </div>
                                <span class="price">ETB 99.00</span>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'details' %}">Baby Toy</a></h3>
                                <span>Sports / Baby Toys</span>
                                <div class="icon">
                                    <span><i class="lni-bookmark"></i></span>
                                    <span><i class="lni-heart"></i></span>
                                </div>
                                <div class="card-text">
                                    <div class="float-left">
                                        <span class="icon-wrap">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star"></i>
                                        </span>
                                        <span class="count-review">
                                            (12 Review)
                                        </span>
                                    </div>
                                    <div class="float-right">
                                        <a class="address" href="#"><i class="lni-map-marker"></i> New York</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Featured Section Begin -->
<section class="featured section-padding">
    <div class="container">
        <h1 class="section-title">Latest Products</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                        <div class="icon">
                            <span class="bg-green"><i class="lni-heart"></i></span>
                            <span><i class="lni-bookmark"></i></span>
                        </div>
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/featured/img-1.jpg' %}"
                                alt=""></a>
                    </figure>
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Electronic > </a>
                            <a href="#">Cameras</a>
                        </div>
                        <h4><a href="{% url 'details' %}">Canon SX Powershot ...</a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i> John Smith</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i> Canon</a>
                            </span>
                        </div>
                        <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry.</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">ETB 249.00</h3>
                            <a href="{% url 'details' %}" class="btn btn-common float-right">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                        <span class="price-save">
                            25% Save
                        </span>
                        <div class="icon">
                            <span class="bg-green"><i class="lni-heart"></i></span>
                            <span><i class="lni-bookmark"></i></span>
                        </div>
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/featured/img-2.jpg' %}"
                                alt=""></a>
                    </figure>
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Electronic > </a>
                            <a href="#">Computers</a>
                        </div>
                        <h4><a href="{% url 'details' %}">Apple Macbook Pro ...</a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i> Sara Doe</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i> California, US</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i> Phones</a>
                            </span>
                        </div>
                        <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry.</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">ETB 289.00</h3>
                            <a href="{% url 'details' %}" class="btn btn-common float-right">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                        <div class="icon">
                            <span class="bg-green"><i class="lni-heart"></i></span>
                            <span><i class="lni-bookmark"></i></span>
                        </div>
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/featured/img-3.jpg' %}"
                                alt=""></a>
                    </figure>
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Vehicle > </a>
                            <a href="#">Cars</a>
                        </div>
                        <h4><a href="{% url 'details' %}">Mercedes Benz E200 ...</a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i> Rossi Josh</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i> Washington, US</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i> Others</a>
                            </span>
                        </div>
                        <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry.</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">ETB 19,000,900.80</h3>
                            <a href="{% url 'details' %}" class="btn btn-common float-right">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                        <span class="price-save">
                            10% Save
                        </span>
                        <div class="icon">
                            <span class="bg-green"><i class="lni-heart"></i></span>
                            <span><i class="lni-bookmark"></i></span>
                        </div>
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/featured/img-4.jpg' %}"
                                alt=""></a>
                    </figure>
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Others > </a>
                            <a href="#">Bags</a>
                        </div>
                        <h4><a href="{% url 'details' %}">Brown Leather Bag ...</a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i> Maria Barlow</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i> Chicago, US</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i> Gucci</a>
                            </span>
                        </div>
                        <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry.</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">ETB 206.90</h3>
                            <a href="{% url 'details' %}" class="btn btn-common float-right">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                        <div class="icon">
                            <span class="bg-green"><i class="lni-heart"></i></span>
                            <span><i class="lni-bookmark"></i></span>
                        </div>
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/featured/img-5.jpg' %}"
                                alt=""></a>
                    </figure>
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Electronic > </a>
                            <a href="#">Apple</a>
                        </div>
                        <h4><a href="{% url 'details' %}">Iphonex 6 Plus Factor ...</a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i> David Givens</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i> Apple</a>
                            </span>
                        </div>
                        <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry.</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">ETB 106.70</h3>
                            <a href="{% url 'details' %}" class="btn btn-common float-right">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                        <span class="price-save">
                            35% Save
                        </span>
                        <div class="icon">
                            <span class="bg-green"><i class="lni-heart"></i></span>
                            <span><i class="lni-bookmark"></i></span>
                        </div>
                        <a href="#"><img class="img-fluid" src="{% static 'assets/img/featured/img-6.jpg' %}"
                                alt=""></a>
                    </figure>
                    <div class="feature-content">
                        <div class="product">
                            <a href="#">Furniture > </a>
                            <a href="#">Home</a>
                        </div>
                        <h4><a href="{% url 'details' %}">Wooden Dining Tabl ...</a></h4>
                        <div class="meta-tag">
                            <span>
                                <a href="#"><i class="lni-user"></i> John Smith</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-map-marker"></i> New York, US</a>
                            </span>
                            <span>
                                <a href="#"><i class="lni-tag"></i> Apple</a>
                            </span>
                        </div>
                        <p class="dsc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry.</p>
                        <div class="listing-bottom">
                            <h3 class="price float-left">ETB 120.00</h3>
                            <a href="{% url 'details' %}" class="btn btn-common float-right">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->



{% endblock %}